/* .deshboard {
  width: 300px;
  height: 100vh;
  padding: 30px;
  background-color: #007bff91;
  margin-left: -20px;
}
.deshboard > ul > li {
  padding: 20px;
}
.deshboard > ul > li:hover {
  background-color: #007bff70;
  cursor: pointer;
}
.deshboard > ul > li:active {
  background-color: #007bff70;
}
.deshboard > ul > li > a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.deshboard > ul > li > a:hover {
  text-decoration: none;
}
.deshboard > ul > li > a:active {
  color: black;
}
.deshboard .deshboardLogoContainer:hover {
  background-color: transparent;
} */

.pro-sidebar {
  color: black !important;
  

}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu > .pro-inner-item > .pro-arrow-wrapper .pro-arrow {
  
  border-color: #000000 !important;
}
.pro-sidebar .pro-menu .pro-menu-item {
  font-size: 24px !important;
}

.pro-menu {

  background: #03a9f4 !important;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  
  background: rgba(3, 168, 244, 0.261) !important;
}


.pro-sidebar > .pro-sidebar-inner {
  background: #03a9f4 !important;
  min-height: 90vh !important ;
  max-height: auto;
 
}

/* icon dstyle */
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
 
  font-size: 24px !important;
  color: #5c00ff !important;
}
.sidebar-container{
  margin-left: -18px;
}


/* admin header  */

.admin-header{

  height: 60px;
  background: #03a9f4 ;
}