.form-controll {
  width: 100%;
  display: inline-block;
  height: calc(2.1em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  background-color: white;
  background-clip: padding-box;

  outline: none;
  border: none;
}
.pending {
  color: red;
  font-weight: bold;
}
.done {
  color: green;
  font-weight: bold;
}
.On-going {
  color: yellow;
  font-weight: bold;
}
.statusBtn {
  padding: 12px;
  /* border-radius: 7px; */
  border: none;
  background: var(--brand-color);
  border-radius: 0px 3px 5px 0px;
  margin-left: -2px;
}

.table-dark {
  color: #fff;
  background-color: #77828ec7;
}
