nav {
    /* position: fixed; */
    z-index: 99;
    width: 100%;

    background: rgb(253, 253, 253);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
}

nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .custom-nav-links {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.custom-nav-links li {
    list-style: none;
}

.custom-nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.custom-nav-links li a:hover {
    color: purple;
}

.wrapper .btn {
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: -20px;
    font-size: 18px;
    color: #fb0000;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
        color: purple;
        font-size: 39px;
        cursor: pointer;
        margin-top: 20px;
    }

    .close-btn {
        color: red;

    }

    .navigation-block {
        display: block !important;

    }
    .navigation-none{
        left: 120% !important;
        transition: all 0.8s ease-in-out;
    }

    .wrapper .custom-nav-links {
        position: fixed;
        height: 100vh;
        width: 60%;
        max-width: 350px;
        top: 0;
        left: -120%;
        background: rgb(255, 255, 255);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
        z-index: 77777777777;
    }


    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: purple;
    }

    ::-webkit-scrollbar-thumb {
        background: #01080fa4;
    }

    #menu-btn:checked~.custom-nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .custom-nav-links li {
        margin: 15px 10px;
    }

    .custom-nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;

    }
}

nav input {
    display: none;
}